{% for type in ['success', 'error', 'info', 'warning'] %}
    {% for message in app.session.flashbag.get(type) %}
        {% if 'error' == type %}
            {% set result = 'negative' %}
            {% set icon = 'remove' %}
        {% endif %}
        <div class="ui icon {{ result|default('positive') }} message">
            <i class="close icon"></i>
            <i class="{{ icon|default('checkmark') }} icon"></i>
            <div class="content">
                <div class="alert {{ 'alert-'~type }}">
                    <strong>{% set header = 'miky.ui.'~type %}
                        {{ header|trans }}</strong> {{ message }}</div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
