<nav class="page-sidebar" data-pages="sidebar">

    <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-40"><i class="fa fa-comments" aria-hidden="true" style="
    font-size: 40px;
    color: white;
"></i>
                </a>
            </div>
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-10"><i class="fa fa-comments" aria-hidden="true" style="
    font-size: 40px;
    color: white;
"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-40"><i class="fa fa-comments" aria-hidden="true" style="
    font-size: 40px;
    color: white;
"></i>
                </a>
            </div>
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-10"><i class="fa fa-comments" aria-hidden="true" style="
    font-size: 40px;
    color: white;
"></i>
                </a>
            </div>
        </div>
    </div>


    <div class="sidebar-header">
        <img src="{{ asset('bundles/mikyadmin/assets/img/02.png') }}" alt="logo" class="brand" data-src="{{ asset('bundles/mikyadmin/assets/img/02.png') }}" data-src-retina="{{ asset('bundles/mikyadmin/assets/img/02.png') }}" width="130">
        <div class="sidebar-header-controls">
            <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
            </button>
            <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
            </button>
        </div>
    </div>


    <div class="sidebar-menu">

        <ul class="menu-items">
            <li class="m-t-30 ">
                <a href="{{ path('miky_admin_admin_dashboard') }}" class="detailed">
                    <span class="title">{{ "dashboard"|trans }}</span>
                    <span class="details">12 New Updates</span>
                </a>
                <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
            </li>
            {{ knp_menu_render('miky_admin.admin.main', {'template': 'MikyAdminBundle:Menu:sidebar.html.twig'}) }}


        </ul>
        <div class="clearfix"></div>
    </div>

</nav>