{% macro default(title, message, icon, type) %}
    <div class="alert alert-block alert-{{ type|default('') }} fade in">
        <button type="button" class="close" data-dismiss="alert"></button>
        {% if type is not empty %}
        <h4 class="alert-heading">
            {{ title|trans }}</h4>{% endif %}
        <p>{{ message }}</p>

    </div>
{% endmacro %}

{% macro info(message) %}
    {% import _self as messages %}
    {{ messages.default("miky_core.info", message, 'info circle', 'info') }}
{% endmacro %}

{% macro success(message) %}
    {% import _self as messages %}
    {{ messages.default("miky_core.success",message, 'checkmark', 'success') }}
{% endmacro %}

{% macro error(message) %}
    {% import _self as messages %}
    {{ messages.default("miky_core.error",message, 'remove', 'danger') }}
{% endmacro %}

