{% extends 'MikyAdminBundle::layout.html.twig' %}

{% import 'MikyAdminBundle:Macro:headers.html.twig' as headers %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}

{% block title %}{{ parent() }} {{ header|trans }}{% endblock %}

{% form_theme form 'MikyAdminBundle:Form:theme.html.twig' %}
{% block breadcrumb_elements %}
    {% include configuration.vars.templates.breadcrumb|default('MikyAdminBundle:Crud/Breadcrumb:_create.html.twig') %}
{% endblock %}
{% block content %}
    <div class="row">
       {{ headers.default(header|trans, configuration.vars.icon|default('plus'), configuration.vars.subheader|default(null)|trans) }}

        {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': '', 'novalidate': 'novalidate'}}) }}

        <div class="col-md-12">

            <div class="actions btn-set text-right">
                {% include 'MikyAdminBundle:Form:_saveChanges.html.twig' with {'cancel_path': path(configuration.getRouteName('index'), configuration.vars.route.parameters|default({}))} %}

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    {% if configuration.vars.templates.form is defined %}
                    {% include configuration.vars.templates.form %}
                    {% else %}
                    {{ form_widget(form) }}
                    {% endif %}
                </div>
            </div>

        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
  </div>
{% endblock %}

